* {
  margin: 0;
}

body {
  background-color: rgb(122, 42, 197);
}

.todo-container {
  width: 80vh;
  min-height: 35vh;
  margin: 20vh auto 0 auto;
  padding: 1.5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 4vh;
  box-shadow: 1.8vh 1.8vh 3.5vh rgba(0, 0, 0, 0.4);
}

.margin-bottom {
  margin-bottom: 1vh;
}
